<div class="row m-2">
  <div>
    <h2><a id="partialsTitle" href="/blogposts/{{blogpost.id}}">{{blogpost.title}}</a></h2>
  </div>
  <div>
    <h3>By {{blogpost.user}}</h3>
    <p>{{blogpost.content}}</p>
  </div>
</div>