<div id="form-main">
  <div id="form-div">
    <form class="form" id="form1">
      
      <p class="title">
        <textarea name="title" type="text" class="form-input blogpost-input" id="title-input">{{blogPost.title}}</textarea>
      </p>
      
      <p class="content">
        <textarea name="content" class="form-input blogpost-input" id="content-input">{{blogPost.content}}</textarea>
      </p>
      
      
      <div class="submit">
        <input type="submit" class="btn" value="Update" data-id="{{blogPost.id}}" id="updated-btn"/>
        <div class="ease"></div>
      </div>
    </form>
  </div>
</div>

<script src="/js/editPost.js"></script>