<div id="form-main">
  <div id="form-div">
    <form class="form" id="form1">
      
      <p class="name">
        <input name="name" type="text" class="form-input blogpost-input" placeholder="Title" id="title-input" />
      </p>
      
      <p class="text">
        <textarea name="text" class="form-input blogpost-input" id="content-input" placeholder="Content"></textarea>
      </p>
      
      
      <div class="submit">
        <input type="submit" value="Post" id="BPbutton"/>
        <div class="ease"></div>
      </div>
    </form>
  </div>
</div>