<div id="form-main">
  <div id="form-div">
    <form class="form" id="form1">
      
      <p class="">
        <input name="title" type="text" class="form-input form-title blogpost-input" placeholder="Title" id="title-input" />
      </p>
      
      <p class="">
        <textarea name="content" class="form-input form-content blogpost-input" id="content-input" placeholder="Content"></textarea>
      </p>
      
      
      <div class="submit">
        <input type="submit" class="link btn" value="Post" id="BPbutton"/>
        <div class="ease"></div>
      </div>
    </form>
  </div>
</div>

<script src="/js/blogPost.js"></script>