{{#if logged_in }}
  {{#each user.blogposts as |blogpost|}}
    {{> blogpost}}
  {{/each}}
  <a class="link" href="/blogpost_input">Create New</a>
{{else}}
  <a href="/login">Please login to view and create your own posts</a>
{{/if}}